<div class="section-grid group fourth-section">

	<div class="col span_2_of_2">
		<div class="members-bios-container">
			<p>Members Bios</p>
			<div>
				<div><%= image_tag("geoff_browning.png") %></div>
				<div><%= image_tag("carter_jones.png") %></div>
				<div><%= image_tag("jasper.png") %></div>
				<div><%= image_tag("nik_sus.png") %></div>
			</div>
		</div>
	</div>

</div>

<div class="secion-grid group">
	<div class="about-the-band-container">
			<p>About The Band</p>
			<div>
			</div>
	</div>
</div>