<div class="section-grid group fourth-section">

	<div class="col span_2_of_2">
		<div class="members-bios-container">
		</div>
	</div>

</div>

<div class="secion-grid group">
	<div class="about-the-band-container">
		
	</div>
</div>