<div class="section-grid group last-section">

	<div class="col span_4_of_10">
		<div class="contact-us-container">
			<h1>Contact Us</h1>
			<p>We are a Washington, DC based band available for gigs throughout the east coast.</p>
			<div>
				<form class="contact-us-form">

					<label for="name-field">Name</label>
		      <br />
		      <input class="first-4-inputs" placeholder="Type full name..." type="text" id="name-field" />

		      <br />

		      <label for="contact-email-field">E-mail Address</label>
		      <br />
		      <input class="first-4-inputs" placeholder="Enter e-mail address..." type="email" id="contact-email-field" />

		      <br />

		      <label for="subject-field">Subject</label>
		      <br />
		      <input class="first-4-inputs" placeholder="Type subject for this message..." type="text" id="subject-field" />

		      <br />

		      <label for="message-field">Message</label>
		      <br />
		      <textarea class="first-4-inputs" placeholder="Type message..." id="message-field" ></textarea>
		      <br />

		  		<input type="submit" id="send-contact" value="Send" />
		    </form>
		  </div>
		</div>
	</div>

	<div class="col span_6_of_10">
		<div class="for-promoters-container">
			<h1>For Promoters</h1>
			<p>B Side Shuffle Logos</p>
			<div class="logos">
				<%= image_tag("b_logo.png", alt: "B Side Shuffle Logo") %>
				<button><a href="#">Download</a></button>
			</div>
			<div class="fonts">
				<p>B Side Shuffle Font</p>
				<!-- <button><a href="http://www.bestpsdfreebies.com/freebie/multicolor-font/" target='_blank'>Download</a></button> -->
				<%= image_tag("bsideshufflelogo.png", alt: "B Side Shuffle Font") %>
				<button><a href="http://www.bestpsdfreebies.com/freebie/multicolor-font/" target='_blank'>Download</a></button>
			</div>
		</div>
	</div>

</div>
<div class="section-grid group footer">
	<div class="col span_2_of_2">
		<h2>B Side Shuffle c. 2014<h2>
		<h2>Designed by Erica M. Manrique | Jeanna S. Kim | Jill Stahl</h2>
		<h2>Coded by Sal Hernandez</h2>
	</div>
</div>