<div class="section-grid group last-section">

	<div class="col span_4_of_10">
		<div class="contact-us-container">
			<h1>Contact Us</h1>
			<p>We are a Washington, DC based band available for gigs throughout the east coast.</p>
			<form class="sign-up-form">
				<label for="name-field">Name</label>
	      <input placeholder="Type full name..." type="text" id="name-field" />

	      <label for="contact-email-field">E-mail Address</label>
	      <input placeholder="Enter e-mail address..." type="email" id="contact-email-field" />

	      <label for="subject-field">Subject</label>
	      <input placeholder="Type subject for this message..." type="text" id="subject-field" />

	      <label for="message-field">Message</label>
	      <input placeholder="Type message..." type="text" id="message-field" />
	      
	  		<input type="submit" value="SIGN UP" />
	    </form>
		</div>
	</div>

	<div class="col span_6_of_10">
		<div class="for-promoters-container">
			<h1>For Promoters</h1>
		</div>
	</div>

</div>