<div class="section-grid group last-section">

	<div class="col span_4_of_10">
		<div class="contact-us-container">
			<h1>Contact Us</h1>
			<p>We are a Washington, DC based band available for gigs throughout the east coast.</p>
			<div>
				<form class="contact-us-form">

					<label for="name-field">Name</label>
		      <br />
		      <input class="first-4-inputs" placeholder="Type full name..." type="text" id="name-field" />

		      <br />

		      <label for="contact-email-field">E-mail Address</label>
		      <br />
		      <input class="first-4-inputs" placeholder="Enter e-mail address..." type="email" id="contact-email-field" />

		      <br />

		      <label for="subject-field">Subject</label>
		      <br />
		      <input class="first-4-inputs" placeholder="Type subject for this message..." type="text" id="subject-field" />

		      <br />

		      <label for="message-field">Message</label>
		      <br />
		      <textarea class="first-4-inputs" placeholder="Type message..." id="message-field" ></textarea>
		      <br />

		  		<input type="submit" id="send-contact" value="Send" />
		    </form>
		  </div>
		</div>
	</div>

	<div class="col span_6_of_10">
		<div class="for-promoters-container">
			<h1>For Promoters</h1>
		</div>
	</div>

</div>