<div class="section-grid group second-section">

	<div class="col span_3_of_5">
		<div id="m-video-section">
			<p>Videos</p>
			<div>
				<% @mains.each do |video| %>
					<iframe src="//www.youtube.com/embed/<%= video.video_url %>" frameborder="0" background="black" allowfullscreen></iframe>
				<% end %>
			</div>
		</div>
	</div>

	<div class="col span_2_of_5">
		<div id="blog-posts">
			<p>Blog Posts</p>
		</div>
	</div>

</div>

<div class="section-grid group">

	<div class="col span_5_of_5">
		<div id="m-music-section">
		</div>
	</div>

</div>