<div class="section-grid group">

	<div class="col span_3_of_5">
		<div id="m-video-section">
			
		</div>
	</div>

	<div class="col span_2_of_5">
		<div id="blog-posts">
			
		</div>
	</div>

</div>

<div class="section-grid group">

	<div class="col span_2_of_2">
		<div id="m-music-section">
			<script>
				SC.initialize({
				  client_id: gon.soundcloud_key
				});

				var track_url = 'http://soundcloud.com/bsideshuffle';
				SC.oEmbed(track_url, { auto_play: false }, function(oEmbed) {
				  // console.log('oEmbed response: ' + oEmbed);
				});
			</script>
		</div>
	</div>

</div>