<div class="section-grid group first-section">

	<div class="col span_2_of_4">
		<div class="video">
			<p>Featured Video</p>
	  	<iframe src="//www.youtube.com/embed/958rkuQvgu0" frameborder="0" background="black" allowfullscreen></iframe>
	  </div>
	</div>

	<div class="col span_2_of_4 signup-section">

		<div class="sign-up-div">
  	<p>
	  	<h3>sign up FOR A FREE Download</h3>
	  	<h2>of "Song Name" from out</h2>
	  	<h1>album Farmalade</h1>
	  </p>
  	<form class="sign-up-form">
      <input placeholder=" Enter e-mail address" type="email" id="email-field" />
  		<input type="submit" value="SIGN UP" />
    </form>
	 </div>
	</div>

</div>

<div class="section-grid group">

	<div class="col span_2_of_4">
		<div class="songkick">
		 	<p>Tour Dates</p>
		 	<%= image_tag("songkick.png") %>
		 	<div><ul id="first-show"></ul></div>
		 	<div><ul id="second-show"></ul></div>
		 	<div><ul id="third-show"></ul></div>
	 	</div>
	</div>

	<div class="col span_2_of_4">
		<div class="twitter-feed">
			<p>Twitter Updates</p>
			<a class="twitter-timeline" href="https://twitter.com/BSideShuffle" data-widget-id="554770742152544256">Tweets by @BSideShuffle</a>
		</div>
	</div>
</div>