<div id="wrapper">

  <section id="splash-page">
    	<!-- <div class="splash-container"> 
    		<%#= image_tag("turntable_full.png", :id => "record-box") %>
    		<%#= image_tag("turntable_record.png", :id => "record-image") %>
    		<%#= image_tag("turntable_arm.png", :id => "arm-image") %>
    	</div> -->

    	<a href="#news-section">
    		<%= image_tag("scroll-down.png", :id => "down-button", height: '60', width: '60', alt:'Scroll Down Arrow Button') %>
    	</a>
  </section>

    <section data-panel="news" class="last-page news" id="news-section">
      <%#= render "news" %>
      <!-- <a href="#splash-page">
      <%#= image_tag("scroll_up.png", :id => "up-button", height: '60', width: '60', alt:'Scroll Up Arrow Button') %>
      </a> -->
    </section>

    <section data-panel="media" class="last-page" id="media">
      <%#= render "media" %>
    </section>

    <section data-panel="photos" class="last-page" id="photos">
      <%#= render "photos" %>
    </section> 

    <section data-panel="bios" class="last-page" id="bios">
      <%#= render "bios" %>
    </section>

    <section data-panel="contact-us" class="last-page" id="contact-us">
    <%#= render "contact_us" %>
    </section>


</div>