<div id="fullpage">

  <div class="section" id="splash-page" data-anchor="home-page">

    	<%= image_tag("turntable_full.png", :id => "record-box") %>

    	<div class="record-disc">
    		<%= image_tag("turntable_record.png", :id => "record-image") %>
    	</div>

  </div>

</div>