$bg-div-color: rgba(6,7,6,0.80);
$paragraph-font: 'Quicksand', sans-serif;

.first-section {
	padding-top: 6.5em;
}

.video {
	margin-left: 2em;
	background: $bg-div-color;
	width: 90%;
	height: 30em;
	text-align: center;
	border-radius: 0.5em;

	p {
		float: left;
		margin: 0;
		font-size: 2em;
		padding: 0.4em 0 0.2em 1.2em;
		color: white;
		font-family: $paragraph-font;
	}

	iframe {
		width: 90%;
		height: 80%;
	}
}

.sign-up-div {
	background: $bg-div-color;
	width: 40vw;
	border-radius: 0.5em;
	text-align: center;
	color: white;
	font-family: $paragraph-font;
	height: 18em;

	h1, h2, h3 {
		margin: 0;
	}

	h1 {
		font-size: 3.5em;
	}

	h2 {
		font-size: 2.4em;
	}

	h3 {
		font-size: 2em;
		padding-top: 1em;
	}
	form {

		input:first-child {
			font-size: 0.5em;
			width: 50%;
			height: 4vh;
			border-radius: 0.5em;
			font-size: 1em;
		}

		input[type=submit] {
			background: #EA5A4B;
			width: 20%;
			height: 4.5vh;
			color: white;
			font-size: 1em;
			border-radius: 0.2em;
		}
	}
}

	.songkick {
		margin-left: 2em;
		margin-top: 0.5em;
		background: $bg-div-color;
		width: 90%;
		height: 20em;
		border-radius: 0.5em;
		color: white;
		font-family: $paragraph-font;

		p {
			float: left;
			margin: 0;
			padding: 0.5em 0.5em 0.5em 1em;
			width: 40%;
			font-size: 2em;
		}
		img {
			width: 40%;
			padding: 1em;
			float: right;
		}
		div {
			clear: both;
			width: 92%;
			height: 18%;
			border-top: 0.2em solid white;
			margin: auto;

			&:last-child {
				border-bottom: 0.2em solid white;
			}
		}
	}
