.last-page {
	position: relative;
	width: 100%;
}

#news, #bios {
  background: url(news_red.png) no-repeat;
	background-size: cover;
	height: 60em;
}

#media, #contact-us {
  background: url(media_yellow.png) no-repeat;
	background-size: cover;
	height: 70em;
}

#photos {
  background: url(photos_green.png) no-repeat;
	background-size: cover;
	height: 60em;
}

#up-button {
	position: absolute;
	bottom: 1em;
	right: 1em;
	z-index: 1;
}