#wrapper {
  height:100%;
  width: 100%;
  position: absolute;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.last-page {
	width: 100%;
}
.news {
	height: 60em;
	position: relative;
}

#bios {
	height: 65em;
}

#media {
	height: 70em;
}

#contact-us {
	height: 59em;
}

.news, #bios {
  background: url(image-path('news_red.png')) no-repeat;
	background-size: cover;
}

#media, #contact-us {
  background: url(image-path('media_yellow.png')) no-repeat;
	background-size: cover;
}

#photos {
  background: url(image-path('photos_green.png')) no-repeat;
	background-size: cover;
	height: 60em;
}

#up-button {
	position:fixed;
  z-index:8;
	bottom: 1em;
	right: 1em;
	display: none;
}

#up-button-img {
	opacity: 0.70;
	transition: 1s;
}

#up-button-img:hover {
	opacity: 1;
}

.hamburger-icon {
	display: none;
}