#splash-page {
	background: url(wood_background_splash.png) no-repeat;
	background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.record-box {

	img {
		max-width: 100%;
  	max-height: 100%;
  	display: block;
  	margin: auto;

	}
}