@media (max-width: 750px) {
	#splash-page {
		display: none;
	}
	#news-section {
		height: 86em;
	}

	#bios {
		height: 53.6em;
	}

	#contact-us {
		height: 41em;
	}

	#up-button {
		width: 3em;
		height: 3em;
	}
	header {
 		height: 3em;
 		display: block;
 		ul > li > a {
 			font-size: 0.75em;
 		}
	}

	.record-player-small > div {
    height: 12em;
    width: 12em;
    margin-top: -5.55em;

    & > div {
      margin-top: -0.9em;
      margin-left: -3.95em;

      img {
        width: 1.2em;
      }
    }
    & > #title {
      font-size: 1.2em;
      margin-top: 4.2em;
      margin-left: 0.2em;
    }
	}

	#play-button, #pause-button {
		width: 1.8em;
	}

	.nav-links {
		width: 8.15%;	
		margin-top: 0em;
		font-size: 1.2em;
	}
	
	.social-icons {
		width: 1.8em;
  	height: 1.5em;
  	font-size: 1em;
  	padding: 0.05em 0.15em 0.15em 0.05em;
  	margin: 0.3em;
	}

	#youtube {
 	  margin-right: 0.5em;
	}

	.first-section {
		& > .col {
			width: 100%;
			margin: 0.45em auto;
		}
		& > .signup-section {
			position: absolute;

			& > .sign-up-div {
				height: 5em;
				margin: auto;
				width: 85%;

				h3, h2, h1 {
					clear: both;
					float: left;
					width: 45%;
					font-size: 0.95em;
					text-align: left;
					margin-left: 1em;
				}
				h3 {
					padding-top: 0.6em;
				}
			}

			.sign-up-form {
				width: 55%;
				float: right;
				margin-top: -2.6em;

				#email-field {
					height: 2em;
					width: 70%;
					float: left;
				}
				& > input[type=submit] {
					height: 2.5em;
					width: 25%;
					font-size: 0.8em;

				}
			}
		}
		& > div:first-child {
			margin-top: 7.5em;

			& > .video {
				margin: auto;
				width: 85%;
				p {
					font-size: 1.5em;
					padding-bottom: 0.8em;
				}
			}
		}
	}

	.second-part-section > .col {
		width: 100%;
		margin: 0;
		margin-top: 1.8em;
		.songkick {
			margin: auto;
			width: 85%;
		}
	} 

	.twitter-feed {
		float: none;
		margin: auto;
		width: 85%;
		height: 15em;
		margin-top: 0;
		p {
			font-size: 1.4em;
		}
		.twitter-timeline {
			height: 11em;
		}
	}

	.second-section {
		& > .col {
			width: 100%;
			margin: 0;
		}
		& > div:first-child {
			margin: auto;

			& > #m-video-section {
				width: 85%;
				margin: auto;
				margin-top: 3em;
			}
		}
		& > div:last-child {
			// width: 92%;

			& > #blog-container {
				margin: auto;
				margin-top: 2.6em;
				width: 85%;
				height: 28em;

				& > .blog-posts {
					& > div {

						& > img {
							float: left;
						}
						#second-tumblr-image {
							display: block;
							clear: both;
							float: left;
						}
					}
					& > div:last-child {
							margin-top: 3em;
					}
				}
			}
		}
	}

	.third-section > .col {
		width: 100%;
		.photos-container{
			width: 85%;
			margin: auto;
		}
	}

	#m-music-section {
		display: none;
	}

	.fourth-section {
		width: 100%;

		& > .about-the-band-container {
			float: none;
			margin: 0;
			margin: auto;
			width: 85%;
			height: 18em;

			& > div > p {
				font-size: 0.75em;
			}
		}
	}

	.fourth-section-second-part {
		width: 100%;
		& > .members-bios-container {
			margin: auto;
			width: 85%;
			height: 27em;
			margin-top: 1em;
			& > p {
				font-size: 1.5em;
			}
			& > div > div {
				& > div {
					width: 45%;
					& > div {
						font-size: 1.2em;
					}
					& > p {
						font-size: 0.75em;
					}
				}
				& > .member-photos > img{
					max-height: 300px;
				}
			}
		}
	}

	.last-section {
		& > div:first-child {
			margin-left: 7.6%;
			width: 42%;

			& > .contact-us-container {
				// margin-left: 3.4em;
				margin: auto;
				width: 100%;
				height: 32em;
				& > h1 {
					font-size: 1.5em;
				}
				& > p {
					font-size: 0.75em;
				}
				& > div {
					width: 90%;
					label {
						font-size: 0.85em;
					}
					.first-4-inputs {
						font-size: 0.5em;
						border-radius: 0.8em;
						margin-top: 0.1em;
						height: 2.5em;
					}
					#message-field {
						height: 9em;
						font-size: 0.8em;
					}
					#send-contact {
						font-size: 1.2em;
						padding: 0.25em;
						width: 5em;
						border-radius: 0.4em;
					}
				}
			}
		}
		& > div:last-child {
			margin: 0;
			width: 40%;
			& > .for-promoters-container {
				width: 100%;
				height: 32em;
				margin: 0.4em 0 0 7.5%;
				// margin-left: 2%;
				& > h1 {
					font-size: 1.5em;
				}
				& > p {
					font-size: 0.8em;
				}
				& > .logos {
					img {
						width: 25%;	
					}
					button {
						font-size: 1em;
						border-radius: 0.4em;
					}
				}
				& > .fonts {
					padding-top: 4em;
					img {
						width: 40%;
					}
					button {
						font-size: 1em;
						border-radius: 0.4em;
					}
				}
			}
		}
	}
}